.initial-info-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 100px;
    align-items: center;
    justify-content: center;
}

.half-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px 0px;
}

.form-group {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    font-size: 2rem;
}

.form-select {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
}

.form-select:focus {
    outline: none;
    border-color: #007bff;
}

.text-paragraph-top {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.text-paragraph-bottom {
    text-align: right;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-paragraph-bottom p {
    display: ruby;
}

/* input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  } */

/* input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  } */

@media (min-width: 769px) and (max-width: 1024px) {
    .form-label{
        font-size: 2.5rem;
    }
}