.input-container {
    position: relative;
    margin: 20px 5px;
    display: inline-flex;
    flex-direction: row-reverse;
    width: fit-content;
    gap:0 15px;
    justify-content: center;
    align-items: center;
}

/* Input field */
.input-field {
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    transition: border-bottom 0.2s ease-in-out;
    width: 150px;
    /* custom width for the line inputs */
}

.input-field:focus {
    border-bottom: 2px solid #007bff;
}